.about_me__section {
  #freepik--big-question-mark--inject-143 {
    animation: rotate 2s linear infinite alternate-reverse;
    transform-origin: center;
  }
}

@keyframes rotate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4%) rotateY(180deg);
  }

  100% {
    transform: translateY(0);
  }
}
