.hero__section {
  #code-icon {
    animation: bounce 2s linear infinite;
  }

  #first-monitor-bg,
  #second-monitor-bg {
    path {
      animation-name: changeBg;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-direction: alternate-reverse;
      animation-timing-function: linear;
    }
  }

  #second-monitor-bg {
    path {
      animation-direction: alternate;
    }
  }
}

@keyframes changeBg {
  0% {
    fill: #455a64;
  }

  100% {
    fill: #333;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4%);
  }

  100% {
    transform: translateY(0);
  }
}
