.hero__section {
  // Info: To create the corner border style
  .hero__text__container {
    position: relative;
    padding: 40px;

    .half__border {
      background-color: var(--chakra-colors-secondary);
      position: absolute;

      &.top {
        width: 50%;
        height: 20px;
        top: 0;
        left: 0;
      }

      &.left {
        width: 20px;
        height: 50%;
        top: 0;
        left: 0;
      }

      &.right {
        width: 20px;
        height: 50%;
        bottom: 0;
        right: 0;
      }

      &.bottom {
        height: 20px;
        width: 50%;
        bottom: 0;
        right: 0;
      }
    }
  }
}
